
.footer__content {
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #444;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.asset__footer-message {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asset__footer-message form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.asset__footer-message h4 {
    font-size: 20px;
    font-weight: bold;
    color: #413e66;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    line-height: 1.2;
}

.asset__footer-message p {
    margin-bottom: 30px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #444;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;

}

.form-group {
    margin-bottom: 15px;
    color: #444;
}

.form-group input {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border: 1px solid #dce1ec;
}

.form-group textarea {
    min-height: 119px;
    border: 1px solid #dce1ec;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    overflow: visible;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.text-center {
    text-align: center;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.text-center button {
    background: #DC143C;
    border: 0;
    border-radius: 3px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
}

.asset__copyright {
    padding: 0 13rem 30px 13rem;
}
.copyright {
    text-align: center;
    padding-top: 30px;
    color: #535074;
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.asset__footer-contact_info {
    padding: 60px 0 30px 0;
    background: rgb(247, 224, 224);
    
}

.footer__id {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-right: 40px;
    height: 200px;
    align-items: center;
}

.form-group{
    width: 100%;
}

input {
    width: 100%;
}

textarea {
    width: 100%;   
}

.footer__social-links {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

@media screen and (max-width: 1080px) {
    .footer__id {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
        margin-right: 0;
    }

    .footer__content {
        flex-direction: column;
        padding: 0 20px;
        align-items: center;
        justify-content: center;
    }

    .asset__copyright {
        padding: 30px 15px;
    }
}