.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin-top: 30px; */
}

.auth__section {
    width: 45%;
    box-shadow: 0 3px 0px 0 rgb(65 62 102 / 8%);
    transition: 0.2s ease-in-out;
}

.auth__section:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top: 8px solid #DC143C;
    padding: 5px;
    cursor: pointer;
}

.auth__section h3{
    text-align: center;
    font-size: 34px;
    color: #535074;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.auth__section hr{
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.input__section {
    padding: 15px;
    margin-bottom: 80px;
}

.form__group input {
    background-color: transparent;
    height: 50px;
    border: 1px solid grey;
    border-radius: 4px;
    padding-left: 10px;
}

.form__group button {
    height: 50px;
    width: 100%;
    background-color: #DC143C;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.form__group {
    display: flex;
    margin-bottom: 20px;
}

.form__group-terms {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 80px;
}

.save__user {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.login__link {
    text-align: center;
    margin-top: 30px;
    color: blue;
    transition: 0.1 ease-in;
}

.login__link:hover {
    color: #DC143C;
}



.form__button {
    cursor: pointer;
}

.forget__password{
    transition: 0.1 ease-in;
    color: blue;
}

.forget__password:hover {
    color: #DC143C;
}
