.main__container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container {
    width: 45%;
    /*box-shadow: 0 3px 0px 0 rgb(65 62 102 / 8%);*/
    transition: 0.1s ease-in-out;
}

.container:hover {
    cursor: pointer;
    box-shadow: 0 3px 0px 0 rgb(65 62 102 / 8%);
    border-top: 8px solid #DC143C;
    padding: 5px;
    cursor: pointer;
}

.container h3{
    text-align: center;
    font-size: 34px;
    color: #535074;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.container hr{
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.input__section {
    padding: 15px;
}

.form__group {
    display: flex;
    margin-bottom: 20px;
}

.form__button {
    cursor: pointer;
}

.footer__links {
    text-align: center;
    color: #1bb1dc;
}

.footer__links p {
    transition: 0.5s;
    margin: 5px 0;
}

.footer__links p:hover {
    color: #DC143C;
}