.asset__feature-card {
    padding: 0 15px;
    max-width: 380px;
       
}

.feature__card {
    flex: 1;
    padding: 30px;
    margin: 0 30px 40px 25px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
    min-width: 255px;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.feature__card:hover {
    min-width: 270px;
}

.feature__icon {
    padding-top: 12px;
    margin-bottom: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
}

.feature__card h4 {
    color: #111;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: var(--font-family);
    text-align: center;
}

.feature__card p {
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}